#speedytwitter {
	
	font-family: georgia;
	font-size: 15px;
	color: #333333;
	padding: 10px;
}

#speedytwitter .tweet {
	margin: 0 auto 15px auto;
	padding: 0 0 15px 0;
	border-bottom: 1px dotted #ccc;
}

#speedytwitter .tweet a {
	text-decoration: none;
	color: #13c9d0;
}

#speedytwitter .tweet a:hover {
	text-decoration: underline;
}

#speedytwitter .tweet .time {
	font-size: 10px;
	font-style: italic;
	color: #666666;
}

.tweetimg{float:left; padding-right:5px;}