#tdList{width:179px;}
 #FrameworkControl{margin:0 auto;}
 #FrameworkControl
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin-left:auto;
	margin-right:auto;
	width: 400px;
	text-align: left;
	border-collapse: collapse;
}
#FrameworkControl th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
	text-align:center;
}
#FrameworkControl td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
	
}
#FrameworkControl tr:hover td
{
	background: #d0dafd;
	color: #339;
}

.tdRight{text-align:right;}